html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
 * Adapted and Modified version of Thibaut Courouble initial Header.
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
body {
  padding-top: 37px;
  font: 13px/18px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-weight: normal;
  color: #404040;
  background: #696969;
}

.container {
  position: absolute;
  top:0px;
  /*width: 800px;*/
  margin: 0 0 0 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 48px;
  line-height: 48px;
  color: #ddd;
  text-shadow: 0 -1px black;
  background: #243942;
  border-bottom: 1px solid #191919;
  background-image: -webkit-linear-gradient(top, #243942, #22373f 50%, #1d2e35 50%, #1b2b32);
  background-image: -moz-linear-gradient(top, #243942, #22373f 50%, #1d2e35 50%, #1b2b32);
  background-image: -o-linear-gradient(top, #243942, #22373f 50%, #1d2e35 50%, #1b2b32);
  background-image: linear-gradient(to bottom, #243942, #22373f 50%, #1d2e35 50%, #1b2b32);
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1), 0 0 10px rgba(0, 0, 0, 0.8);
}
header a {
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
}
header h1 {
  float: left;
}
header h1 a {
  display: block;
  padding: 0 15px;
  font-size: 16px;
  color: #eee;
  text-decoration: none;
}
header h1 a:hover {
  color: white;
}
header nav {
  float: left;
  border-left: 1px solid #2f4b56;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid #111;
}
header nav li {
  float: left;
}
header nav a {
  display: block;
  padding: 0 15px;
  color: #d0d9de;
  text-decoration: none;
  border-left: 1px solid #191919;
  border-right: 1px solid #2f4b56;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
}
header nav a:hover {
  background: #2f4b56;
  background: rgba(100, 255, 255, 0.21);
}
header nav a.icon {
  padding-left: 40px;
  background-position: 12px 11px;
  background-repeat: no-repeat;
}
header nav a.logo {
  background-image: url("../img/icon/icon24.png");
}
header nav a.save {
  background-image: url("../img/tlbr/save.png");
}
header nav a.edit {
  background-image: url("../img/tlbr/edit.png");
}
header nav a.share {
  background-image: url("../img/tlbr/share.png");
}
header nav a.help {
  background-image: url("../img/tlbr/help.png");
}
header nav a.settings {
  background-image: url("../img/tlbr/settings.png");
}
header nav a.aboot {
  background-image: url("../img/tlbr/about.png");
}
header nav a.vrtx {
  background-image: url("../img/vrtx_logo/vrtx_logo24.png");
}

/*Marker Editor*/
header nav a.editor_marker {
  background-image: url("../img/tlbr/editor/marker.png");
}
header nav a.editor_pencil {
  background-image: url("../img/tlbr/editor/pencil.png");
}
header nav a.editor_brush {
  background-image: url("../img/tlbr/editor/brush.png");
}
header nav a.editor_spray {
  background-image: url("../img/tlbr/editor/spray.png");
}

header nav a.editor_shape {
  background-image: url("../img/tlbr/editor/shape.png");
}
header nav a.editor_shape_line {
  background-image: url("../img/tlbr/editor/shapes/line.png");
}
header nav a.editor_shape_crcl {
  background-image: url("../img/tlbr/editor/shapes/crcl.png");
}
header nav a.editor_shape_rect {
  background-image: url("../img/tlbr/editor/shapes/rect.png");
}
header nav a.editor_shape_tri {
  background-image: url("../img/tlbr/editor/shapes/tri.png");
}

header nav a.editor_text {
  background-image: url("../img/tlbr/editor/text.png");
}

header nav a.editor_close {
  background-image: url("../img/tlbr/editor/close.png");
}


header nav li.active a, header nav a:active {
  padding-right: 16px;
  background-color: #1b2b32;
  border-right: 0;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
}
header nav span {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 10px;
  padding: 0 5px;
  line-height: 16px;
  font-size: 11px;
  color: white;
  text-shadow: 0 1px #902a27;
  background: #e93631;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #f65d5f, #e93631);
  background-image: -moz-linear-gradient(top, #f65d5f, #e93631);
  background-image: -o-linear-gradient(top, #f65d5f, #e93631);
  background-image: linear-gradient(to bottom, #f65d5f, #e93631);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
}
