.about {
  position: fixed;
  bottom: 5px;
  right: 5px;
  /*
  top: 100%;
  left: 100%;
  margin: -70px 0 0 -330px;
  position: absolute;*/
  padding: 6px;
  width: 375px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #aaa;
  opacity: 0.75;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  background: #eee;
  background: rgba(75, 75, 75, 1);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1)
  );
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);

  -webkit-transition: opacity 0.51s;
  -moz-transition: opacity 0.51s;
  -o-transition: opacity 0.51s;
  transition: opacity 0.51s;
}
.about:hover {
  opacity: 1;
}
/*
.about a {
  color: #333;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
}
*/
.about-links {
  height: 30px;
  color: #333;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 0px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
  color: #fff;
}
