.social-button {
  display: inline-block;
  padding: 4px 10px 4px 4px;
  line-height: 16px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid;
  border-radius: 3px;
  color: #333;

  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.social-button:hover {
  text-decoration: none;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
}
.social-button:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
  width: 16px;
  height: 16px;
  background-image: url('../img/social/icons.png');
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {
  .social-button:before {
    background-image: url('../img/social/icons@2x.png');
    background-size: 48px 16px;
  }
}

.social-button-tw {
  color: #555;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: #f2f2f2;
  border-color: #bababa #b6b6b6 #a5a5a5;
  background-image: -webkit-linear-gradient(top, white, #dedede);
  background-image: -moz-linear-gradient(top, white, #dedede);
  background-image: -o-linear-gradient(top, white, #dedede);
  background-image: linear-gradient(to bottom, white, #dedede);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(0, 0, 0, 0.06);
}
.social-button-tw:before {
  background-position: 0 0;
}
.social-button-tw:active {
  background: #dedede;
  border-color: #b4b4b4 #b4b4b4 #a5a5a5;
  background-image: -webkit-linear-gradient(top, #e1e1e1, #f8f8f8);
  background-image: -moz-linear-gradient(top, #e1e1e1, #f8f8f8);
  background-image: -o-linear-gradient(top, #e1e1e1, #f8f8f8);
  background-image: linear-gradient(to bottom, #e1e1e1, #f8f8f8);
}

.social-button-fb {
  color: #304982;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
  background: #eaedf6;
  border-color: #aeb7cc #aeb7cc #9ba3b6;
  background-image: -webkit-linear-gradient(top, #f3f6ff, #d9dce5);
  background-image: -moz-linear-gradient(top, #f3f6ff, #d9dce5);
  background-image: -o-linear-gradient(top, #f3f6ff, #d9dce5);
  background-image: linear-gradient(to bottom, #f3f6ff, #d9dce5);
  -webkit-box-shadow: inset 0 1px white,
    inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(0, 0, 0, 0.06);
}
.social-button-fb:before {
  background-position: -16px 0;
}
.social-button-fb:active {
  background: #d9dce5;
  border-color: #a6afc3 #a6afc3 #9ba3b6;
  background-image: -webkit-linear-gradient(top, #d9dce5, #f0f3fc);
  background-image: -moz-linear-gradient(top, #d9dce5, #f0f3fc);
  background-image: -o-linear-gradient(top, #d9dce5, #f0f3fc);
  background-image: linear-gradient(to bottom, #d9dce5, #f0f3fc);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(0, 0, 0, 0.06);
}

.social-button-gh {
  color: #555;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: #f2f2f2;
  border-color: #bababa #b6b6b6 #a5a5a5;
  background-image: -webkit-linear-gradient(top, white, #dedede);
  background-image: -moz-linear-gradient(top, white, #dedede);
  background-image: -o-linear-gradient(top, white, #dedede);
  background-image: linear-gradient(to bottom, white, #dedede);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(0, 0, 0, 0.06);
}
.social-button-gh:before {
  background-position: -32px 0;
}
.social-button-gh:hover {
  text-decoration: none;
}
.social-button-gh:active {
  background: #d9dce5;
  border-color: #a6afc3 #a6afc3 #9ba3b6;
  background-image: -webkit-linear-gradient(top, #d9dce5, #f0f3fc);
  background-image: -moz-linear-gradient(top, #d9dce5, #f0f3fc);
  background-image: -o-linear-gradient(top, #d9dce5, #f0f3fc);
  background-image: linear-gradient(to bottom, #d9dce5, #f0f3fc);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(0, 0, 0, 0.06);
}

.social-button-rvw {
  display: inline-block;
  padding: 4px 10px 4px 4px;
  line-height: 16px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid;
  border-radius: 4px;
  color: rgb(233, 233, 233);
  text-shadow: 0 1px rgb(12, 12, 12);
  background: #ff00aa;
  border-color: #c90097 #ff00aa #ff00aa;
  background-image: linear-gradient(to bottom, #ff00aa, #c90097);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  transition: background 0.1s;
  transition: background-image 1s;
}
.social-button-rvw:hover {
  text-decoration: none;
  background: #ff63cb;
  background: rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px rgba(61, 61, 61, 0);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  border: 1px #2b71a0 solid;
  color: rgb(255, 255, 255);
}
.social-button-rvw:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
  width: 16px;
  height: 16px;
  background-image: url('../img/vrtx_logo/vrtx_logo16.png');
}

.twitter-follow-button {
  background: #3e95e1;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 12px 5px 15px;
  text-decoration: none;
  width: 200px;
  height: 48px;
}

.twitter-follow-button:hover {
  background: #307abf;
  color: #ffffff;
  text-decoration: none;
}

.twitter-follow-button:before {
  content: url('../img/social/twitter/bird.png');
  top: 4px;
  left: -7px;
  position: relative;
}
